<div class="bottom_2">
    <div class="container_12">
        <div class="row" id="install">  
            <div class="install-package">  
                <span>Install now for MVC and Web Forms:</span>
                <pre class="nuget-button">Install-Package HotGlue.Aspnet</pre>
            </div>
        </div> 
        <div class="row">
            <img src="images/nuget.png" alt="" border="0" class="nuget" />
            <em>
                <span class="text-gray">Hotglue is on Nuget. Above is our most common package.</span> 
                <a href="plugins.html" class="text-green">Hotglue is available for additional frameworks and plug-ins.</a>
            </em>
        </div> 
      </div>
      
      <div class="clear"></div>
        
    </div>
</div>
